@import '../../style/variables.scss';

.single-comic {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    align-items: start;

    &__img {
        width: 293px;
        height: 450px;
    }

    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }

    &__descr {
        margin-top: 25px;
        font-size: 18px;
        line-height: 24px;
    }

    &__price {
        margin-top: 25px;

        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
    }

    &__back {
        margin-left: auto;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        &:hover {
            color: $main-color;
        }
    }

    &-enter {
        opacity: 0;
        transform: translateY(40%) scale(0.8);
    }

    &-enter-active {
        opacity: 1;
        transform: translateY(0) scale(1);
        transition: all 300ms ease-in;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
}