@import '../../style/variables.scss';

.char {

  &__content {
    padding-top: 45px;

    display: grid;
    grid-template-columns: 650px 425px;
    column-gap: 25px;
    align-items: start;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    row-gap: 30px;
    column-gap: 25px;
  }

  &__item {
    height: 318px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    background-color: $dark;
    transition: .2s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    &_selected {
      box-shadow: 0 5px 20px $main-color;
      background-color: $main-color;
      transform: translateY(-5px);
    }
  }

  &__name {
    margin: 15px;

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #fff;

    text-transform: uppercase;
  }

}