@media (max-width: 1130px) {

  .bg-decoration {
    display: none;
  }

  .char__grid {
    grid-template-columns: repeat(2, 200px);
    row-gap: 25px;
    column-gap: 20px;
  }

  .randomchar {

    &__btns {
      column-gap: 15px;
    }

    &__block,
    &__static {
      padding: 30px 25px;
    }

  }

}

@media (max-width: 900px) {

  .randomchar {
    display: block;

    &__block,
    &__static {
      padding: 20px 15px;
    }
  }

  .char__grid {
    grid-template-columns: repeat(3, 200px);
  }

  .char__content {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .char__list {
    margin: 0 auto;
  }

  .char__info {
    order: 1;
  }

  .char__list {
    order: 2;
  }

}

@media(max-width: 670px) {

  .char__grid {
    grid-template-columns: repeat(2, 200px);
  }

  .single-comic__info {
    width: 100%;
  }

  .app__banner {
    padding: 0 5px;
    justify-content: center;

    img:last-child {
      display: none;
    }
  }

  .randomchar {
    &__decoration {
      max-height: 140px;
    }
  }
}

@media(max-width: 450px) {
  .char {

    &__content {
      padding-top: 25px;
      row-gap: 25px;
    }

    &__grid {
      row-gap: 15px;
      column-gap: 10px;
      grid-template-columns: repeat(2, calc(140px + (200 - 140) * (100vw - 320px) / (450 - 320)));
    }

    &__name {
      font-size: 20px;
    }

    &__info {
      padding: 15px;
    }

    &__basics {
      row-gap: 10px;
      grid-template-columns: 1fr;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    &__info-name {
      margin-bottom: 10px;
    }

    &__btns {
      justify-content: center;
    }

  }

  .app {
    &__banner {

      img {
        display: none;
      }

      &-text {
        padding: 10px;
      }
    }


  }

  .randomchar {
    &__block {
      row-gap: 15px;
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__img{
      margin: 0 auto;
    }

    &__btns{
      justify-content: center;
    }

    &__title {
      font-size: 20px;
    }
  }

  .button__long {
    margin: 25px auto 0 auto;
  }
}