@import '../../style/variables.scss';

.char {

    &__info {
      padding: 25px;
      height: min-content;
      width: 100%;

      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      background-color: #fff;

      position: relative;
      z-index: 5;

      &-name {
        margin-bottom: 35px;

        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
      }

      .skeleton {
        margin-top: 30px;
      }
    }

    &__basics {
      display: grid;
      grid-template-columns: 150px auto;
      column-gap: 25px;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }

    &__btns {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 15px;
    }

    &__descr {
      margin-top: 15px;

      font-size: 14px;
      line-height: 18px;
    }

    &__comics {
      margin-top: 10px;

      font-weight: 700;
      font-size: 18px;
      line-height: 24px;

      &-list {
        position: relative;
        margin-top: 10px;
      }

      &-item {
        width: 100%;
        padding: 5px 10px;
        margin-top: 10px;

        line-height: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &__select {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

}
