@import '../../style/variables.scss';

.app {

  &__header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #fff;

    &:hover span{
      color: $main-color-hover;
    }

    span {
      transition: .2s linear;
      color: $main-color;
    }
  }

  &__menu {
    ul {
      display: flex;
      column-gap: 8px;

      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #fff;

      li {
        transition: .2s linear;
      }

      li:hover  {
        color: $main-color-hover;
      }
    }
  }

}